name: Analyze

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  analyze:
    runs-on: ubuntu-latest
    steps:
      # - name: Git checkout
      #   uses: actions/checkout@v2
      # - name: Analyze package
      #   uses: axel-op/dart-package-analyzer@v3
      #   with:
      #     githubToken: ${{secrets.GITHUB_TOKEN}}
